PORT=3000
DATABASE_URL=mongodb://localhost:27017/yourdatabase
BCRYPT_SALT_ROUNDS=10
JWT_SECRET=yoursecretkey
JWT_EXPIRE_TIME=3600


#for generate token 
#node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"